set wildmenu

set mouse=a
set backspace=indent,eol,start

set tabstop=2
set shiftwidth=2
set expandtab

set hidden

set autoindent
set ignorecase
set timeoutlen=1000 ttimeoutlen=0

set noundofile
set noswapfile
set nobackup

set number

set colorcolumn=80

set t_Co=256
set background=dark
colorscheme simple-dark

filetype on

syntax on
